MONGO_URI="mongodb+srv://vishnumohanan9866_db_user:pass@cluster0.psibcnm.mongodb.net/?appName=Cluster0"
CLERK_PUBLISHABLE_KEY=pk_test_aGlwLXZpcGVyLTE3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_I3i9wm2SEgCreRbI3lVGRA5VJFd2hTEoUJbwbyjhbb
PORT=5000
CLIENT_URL=http://localhost:5173
